<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <meta name="copyright" content="© Konstantin Stepanov">
        <meta name="author" content="Konstantin Stepanov">
        <meta name="twitter:site" content="@kstepme">
        <meta name="twitter:creator" content="@kstepme">

        {% if is_post %}
        <title>{{ title }} — kstep blog</title>
        <meta name="date" content="{{ date }}">
        {% if tags %}<meta name="keywords" content="{{ tags }}">{% endif %}
        {% if excerpt %}<meta property="og:description" name="description" content="{{ excerpt }}">{% endif %}

        <meta property="og:type" content="article">
        <meta property="article:author" content="https://www.facebook.com/profile.php?id=100011339488310">
        <meta property="article:published_time" content="{{ date }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" property="og:title" content="{{ title }}">

        {% else %}
        <title>//kstep blog</title>
        {% endif %}

        <link href="/feed.xml" rel="alternate" type="application/rss+xml" />
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles/materialize.min.css" />
        <link rel="stylesheet" href="/static/styles/github.css" />
        <link rel="stylesheet" href="/static/styles/custom.css" />
    </head>
    <body>
        <nav class="light-green darken-1" role="navigation">
            <div class="nav-wrapper container">
                <div class="col s12">
                    {% if is_post %}
                    <a class="brand-logo" href="/">//kstep</a>
                    {% else %}
                    <span class="brand-logo">//kstep</span>
                    {% endif %}
                </div>
            </div>
        </nav>
        <main class="container">
