{% include "_layouts/header.liquid" %}
<noindex><a class="btn-floating btn-large waves-effect waves-light purple lighten-3 right" href="https://github.com/kstep/kstep.github.com/new/master/_src/posts/" style="top: -30px; position: relative;"><i class="material-icons">add</i></a></noindex>

<h2>All posts</h2>
<div class="row">
    {% for post in posts %}
        <div class="col s12 m6 l4">
            <div class="post card hoverable"><a class="post-path" href="{{ post.path }}">
                <div class="card-content">
                    <span class="post-title card-title">{{ post.title }}</span>
                    {% if post.lang %}<label class="post-lang emoji" title="{{ post.lang }}">{% if post.lang == "en" %}🇺🇸{% else %}{% if post.lang == "ru" %}🇷🇺{% else %}{{ post.lang }}{% endif %}{% endif %}</label>{% endif %}
                    {% if post.excerpt %}<p class="post-excerpt black-text">{{ post.excerpt }}</p>{% else %}<br />{% endif %}
                    <label class="post-date"><i class="material-icons">event</i>{{ post.date | date:"%a&nbsp;%d&nbsp;%b&nbsp;'%y" }}</label>
                    {% if post.tags %}<label class="post-tags"><i class="material-icons">label</i>{{ post.tags }}</label>{% endif %}
                    <label class="disqus-comment-count post-comments" data-disqus-identifier="{{ post.path }}"></label>
                </div>
            </a></div>
        </div>
    {% endfor %}
</div>
<script src="/static/masonry.pkgd.min.js"></script>
<script>var msnry = new Masonry(document.querySelector(".row"), { querySelector: ".col" });</script>
<script src="//kstep.disqus.com/count.js" async></script>
{% include "_layouts/footer.liquid" %}
