{% include "_layouts/header.liquid" %}
<nav class="light-green lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <div class="col s12">
            <span class="brand-logo" href="">//kstep</span>
        </div>
    </div>
</nav>
<main class="container">
<h2>All posts</h2>
<div class="row">
    {% for post in posts %}
        <div class="col s6"><a href="{{ post.path }}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ post.title }}</span>
                    {% if post.lang %}<label>{% if post.lang == "en" %}🇺🇸{% endif %}{% if post.lang == "ru" %}🇷🇺{% endif %}</label>{% endif %}
                    <label>{{ post.date | date:"%a&nbsp;%d&nbsp;%b&nbsp;'%y" }}</label>
                    {% if post.excerpt %}<p class="black-text">{{ post.excerpt }}</p>{% else %}<br />{% endif %}
                    {% if post.tags %}<label>{{ post.tags }}</label>{% endif %}
                </div>
            </div>
            </a></div>
    {% endfor %}
</div>
</main>
{% include "_layouts/footer.liquid" %}
